$primary-color: #3498db;
$font-size: 18px;

// Підключаємо модуль для роботи з кольорами
@use "sass:color";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: $primary-color;
}

p {
    font-size: $font-size;
}

button {
    background-color: $primary-color;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
    }
}